<c-row ngPreserveWhitespaces>  

    <!-- tabla -->
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header>Lista de Fotos</c-card-header>
          <c-card-body>         
            <!-- TEST
            <c-container fluid>
                <c-row class="products-grid">
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6" ><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6 "><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                    <c-col class="item col-sm-3 col-md-3 col-sms-6 col-smb-6"><img cImg rounded src="assets/photos/cl_545295_1.jpg" height="200" width="200"/></c-col>
                </c-row>   
            </c-container>-->
            
            <c-container fluid>
                <c-row class="products-grid">                    
                    @for (item of listPhotos; track item) {
                        @defer{
                        <c-col class="item" xs="12" sm="6" md="4" lg="3"><img cImg rounded src="assets/photos/{{ item }}" height="200" width="200"/></c-col>
                        }
                    }                                     
                </c-row>   
            </c-container>
           

            </c-card-body>
</c-card>

</c-col>
</c-row>
