
<c-row class="mt-4">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Prueba Técnica - Analista programador</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="12" xl="12" xs="12">
            <p>Utilizando la API de JsonPlaceHolder (https://jsonplaceholder.typicode.com) se requiere que se realice un portal de administrador, este portal debe incluir una sección de usuarios (/users) en donde se debe listar los usuarios y poder crear nuevos usuarios, también se requiere que tenga una sección de fotos (/photos), en donde debe mostrarse el directorio de fotos que contiene la API en una card cada una.</p>
            <br><br>
            <p>Requisitos de la prueba:</p>
            <ul>
              <li>Debe crear un repositorio en Github o Bitbucket, subir el proyecto y dar permiso de admin a "raul.jaque&#64;dimerc.cl"</li>
              <li>Se puede utilizar cualquier tecnología de su preferencia para el desarrollo del Frontnd de la aplicación y la lógica de las APIS, se recomienda el uso de Bootstrap para los estilos</li>
            </ul>
          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
